    .ant-menu-horizontal{
    
        display: flexbox;
    justify-content: center;
    }

    .ant-menu{
        background: rgb(64, 104, 163)!important;
        font-size: 20px !important;
    }
    a{
        color: rgb(28, 29, 26)!important;
    }

    a:hover{
        color: rgb(60, 238, 20)!important;
    }
    h1{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold';
        color: rgb(30, 83, 163)!important;
    }
    .ant-menu{
        font-feature-settings:"falt";
    }
